div.style1{
    background-color:rgb(31, 178, 247);
    color:#fff;
    padding:25px;
    border-bottom:5px solid hsl(194, 100%, 54%);
    margin-bottom:15px;
}
div.bandeau {
    padding:2px;
	height:50px;
	background-color:#00CCFF;
	}
div.contenu {
    padding: 25px;
	height: 800px;
	background-color:#FFCC00;
	
}
div.piedpage {
    padding: 25px;
	height:100px;
	background-color:#33FF99;
	}
div.menu {
    float:left;
    height:385px;
    background-color:#ff6699;
        }
div.menuhaut 
{
            padding: 25px;
            height: 385px;
            background-color:#66CC33;
            }
div.menubas 
{           padding: 25px;
            height:365px;
            background-color:#CC99CC;
            }
 div.blocnews {
                float:right;
                padding: 80px;
                margin-top: -1000px;
                background-color:#FF3300;
                }            